.modal-header {
    width: 100%;
}

.create-post-form{
    width: 88%;
    height: 15vh;
    margin: 3vh 0 3vh 0;
    padding: 0 2vh 0 2vh;
    border: none;
    resize: none;
}

.create-post-header {
    display: flex;
    background-color: #0073b1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    // width: 100%;
}

.create-a-post {
    display: flex;
    color: white;
    min-width: 25%;
    // margin-left: 3vh;
    // text-align: left;
    // float: right;
}

.close-post-x{
    display: flex;
    color: white;
    // text-align: right;
    // float: right;
    cursor: pointer;
    margin-left: 68%;
}

#create-post-pic {
    content: image_url('mini-profile-pic.png');
    margin-left: 3%;
    height: 7vh;
    width: 7vh;
    border-radius: 4vh;
    padding-right: 1vh;
}

.create-post-pic-name {
    display: flex;
    padding-top: 2.5vh;
}

#create-post-name-anyone {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: inline-block;
    padding-top: .5%;
}

#create-post-name {
    color: black;
    padding-bottom: .7vh;
}

#create-post-anyone {
    color: grey;
    border: .146vh solid grey;
    min-width: 13vh;
    // display: inline-block;
    display: flex;
    justify-content: space-between;
    padding: .5vh 1vh .5vh 1vh;
    font-size: 10pt;
}

#create-post-anyone:hover {
    background-color: lightgray;
    border: .15vh solid black;
    cursor: pointer;
}

.icon-post-form {
    color: grey;
    font-size: 22pt;
    display: flex;
    justify-content: space-between;

}

#icon-post-form-each {
    padding: 2vh 3vh 3vh 2vh;
}

#icon-submit-file {
    font-size: 12pt;
}

.post-modal-submit {
    background-color: #0073b1;
    color: white;
    font-size: 14pt;
    height: 5vh;
    border: none;
    border-radius: .3vh;
    margin: 2vh 3vh 3vh 50%;
}