.welcome-navbar{
    width: 100%;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4vh;
    background-color: #283e4a;
    position: fixed;
    top: 0vh;
    z-index: 1;
    float: right;
}

.welcome-header{
    position: absolute;
    right: 8vh;
    font-size: larger;
    color: #2867B2;
    margin: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.feed-profile-background{
    content: image_url('profileBlueBackground.png');
}



.list-logo{
    // content: url(https://i.imgur.com/mtLupon.png);
    height: 6vh;
    content: image_url('Listicon.png');
    position: absolute;
    margin: 2vh 2vh 2vh 11vh;
    border-radius: 2vh;
    border: .15vh solid black;
}

.feed-container{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    padding-top: 10vh;
    padding-left: 12vh;
    padding-right: 12vh;
    margin-top: 6vh; 
    font-family: Arial, Helvetica, sans-serif;
}
//
.feed-profile-container{
    width: 15%; 
    height: 60vh; 
    background-color: white; 
    box-shadow: 0 0 0 .15vh rgba(0,0,0,.15);
    border-radius: .3vh;
    position: sticky;
    top: 11vh;
    left: 0;
}

.feed-profile-background{
    height: 15%;
    width: 100%; 
    z-index: -1;
}

#feed-img img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-self: center;
    border-radius: 50%;
    border: .3vh solid white;
    box-shadow: 0 .5vh 0 0 #f2f2f2;
}

#feed-img{
    // align-content: center;
    // content: image_url('blankprofilepic.png');
    width: 11vh;
    height: 11vh;
    border-radius: 50%;
    box-sizing: border-box;
    border: .3vh solid white;
    display: flex;
    justify-content: center;
    object-fit: cover;
    margin: -20% 0% 0 30%;
    flex-direction: row;
}

#feed-name{
    font-weight: bold; 
    text-align: center; 
    font-size: 2.8vh;
    padding-bottom: 4%;
    padding-top: 15%;
}

#feed-title{
    text-align: center;
    font-size: 2.2vh; 
    color: grey;
}

hr{
    display: block;
    height: .15vh;
    border: 0;
    border-top: .15vh solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.feed-num-container{
    display: flex; 
    justify-content: space-between;
    margin-top: 4%;
    // text-align: center;
    // display: inline;
}

#feed-num-views-text, #feed-num-connections-text {
    color: #696969;
    font-size: 1.9vh;
    display: inline-block;
    margin-left: 5%;
}

#feed-num-connections-num {
    margin-left: 43%;
}

#feed-num-views-num, #feed-num-connections-num {
    color: rgb(64, 192, 224);
    margin-right: 10%; 
    cursor: pointer;
    font-size: 1.9vh;
    display: inline-block;
}

// #feed-num-connections-text, #feed-num-connections-text{
//     display: inline;
// }

.icon-create {
    display: flex;
}

.icon-post {
    font-size: 3.8vh;
    color: grey;
}

.icon-post i{
    cursor: pointer;
}

.icon-text{
    font-weight: bolder;
    color: grey;
    padding-top: 4.5%;
    cursor: pointer;
}

.post-container {
    width: 47%;
    display: flex; 
    flex-direction: column; 
}

.post-create {
    width: 100%; 
    height: 19vh; 
    background-color: white; 
    box-shadow: 0 0 0 .15vh rgba(0,0,0,.15);
    border-radius: .3vh;
    margin-bottom: 5.5vh; 
    padding-bottom: 1vh;
}

.post-create-container {
    display: flex; 
    justify-content: space-between;
    padding: 5%; 
    border-bottom: .15vh solid grey;
}

.write-article{
    padding-left: 5%; 
    padding-top: 2%;
    color: #0073b1;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}

.post-item{
    width: 100%; 
    height: 100%;
    background-color: white; 
    box-shadow: 0 0 0 .15vh rgba(0,0,0,.15);
    border-radius: .3vh;
    margin-bottom: 5.5vh; 
    margin-top: 5.5vh; 
}

.post1-ad {
    width: 100%; 
    height: 86vh;
    background-color: white; 
    box-shadow: 0 0 0 .15vh rgba(0,0,0,.15);
    border-radius: .3vh;
    margin-bottom: 5.5vh; 
    margin-top: 5.5vh; 
}

.post2-post {
    width: 100%; 
    height: 36vh;
    background-color: white; 
    box-shadow: 0 0 0 .15vh rgba(0,0,0,.15);
    border-radius: .3vh;
    margin-bottom: 5.5vh; 
    margin-top: 5.5vh; 
}

.post3-uiuc {
    width: 100%; 
    height: 88vh;
    background-color: white; 
    box-shadow: 0 0 0 .15vh rgba(0,0,0,.15);
    border-radius: .3vh;
    margin-bottom: 5.5vh; 
    margin-top: 5.5vh; 
}


.post1-container, .post2-container, .post-item-container, .post3-container {
    justify-content: space-between;
    padding: 3% 3% 1% 3%;
}

#list-logo-post {
    content: image_url('Listicon-mini.png');
    margin-left: 3%;
    border-radius: 1.9vh;
    border: .15vh solid black;
    display: inline-block;
}

#shaq-post {
    content: image_url('shaq.jpeg');
    margin-left: 3%;
    border-radius: 1.9vh;
    display: inline-block;
    height: 7vh;
    width: 7vh;
    border-radius: 5vh;
}

#self-post {
    content: image_url('mini-profile-pic.png');
    margin-left: 3%;
    border-radius: 1.9vh;
    display: inline-block;
    height: 7vh;
    width: 7vh;
    border-radius: 5vh;
}

#uiuc-post {
    content: image_url('uiuc-logo.png');
    margin-left: 3%;
    border-radius: 1.9vh;
    display: inline-block;
    height: 7vh;
    width: 7vh;
    border-radius: 5vh;
}

#post1-header-text, #post2-header-text, #post-item-header-text, #post3-header-text {
    display: inline-block;
    margin-left: 3.1vh;
}

#post1-company, #post2-name, #post-item-name, #post3-company {
    color: black;
    // font-weight: bold;
    font-size: 2.5vh;
}

#post1-followers, #post1-promoted, #post2-headline, #post2-time, #post-item-headline, #post-item-time, #post3-followers, #post3-time {
    color: grey;
    font-size: 2.2vh;
    margin-top: .4vh;
    margin-bottom: .4vh;
}

.post1-body-text, .post2-body-text, .post-item-body-text, .post3-body-text {
    color: black;
    font-size: 2.5vh;
    margin: 1% 5% 3% 5%;
}

.post1-pic {
    content: image_url('big-linkedin-ad.png');
    display: block;
    margin: auto;
    max-width:100%;
    max-height:100%;
    cursor: pointer;
}

.post3-pic {
    content: image_url('uiuc-post-pic.png');
    display: block;
    margin: auto;
    max-width:100%;
    max-height: 100%;
    cursor: pointer;
}

.post1-pic-desc, .post3-pic-desc {
    background-color:  #f2f2f2;
    cursor: pointer;
}

#post1-pic-desc-header , #post3-pic-desc-header {
    margin: 0 3% 0 5%;
    font-size: 2.2vh;
}

#post1-pic-desc-site, #post3-pic-desc-site {
    margin: 2% 3% 0 5%;
    font-size: 2vh;
    color: grey;
    padding-bottom: 2vh;
}

.post-comments {
    margin: 2% 3% 2% 5%;
    font-size: 2vh;
    color: grey;
}

.post-reacts {
    border-top: .15vh solid grey;
    padding-bottom: .5vh;
}

.like, .comment, .share {
    margin: 1% 3% 1% 5%;
    display: inline-block;
    cursor: pointer;
}

.on-linkedlist {
    display: inline-block;
    padding-left: .73vh;
}

// news container on right side
.news-container {
    width: 27.5%; 
    height: 100%;
    position: sticky;
    top: 11vh;
    left: 0;
    box-shadow: 0 0 0 .15vh rgba(0,0,0,.15);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.news-container-header {
    margin: 3vh 2vh 1vh 2vh;
    font-size: 3vh;
}

.news-link:hover {
    background-color: lightgray;
}

.news-link {
    padding: 2vh 2vh 2vh 2vh;
}


.news-title {
    font-size: 2.3vh;
    padding-bottom: 1vh;
    font-weight: bold;
}

.news-time {
    color: grey;
    font-size: 2.1vh;
}

//modal

.create-post-modal-hidden {
    display: none;
}


.create-post-modal-show {
    position: absolute;
    height: 30vh;
    width: 40%;
    left: 20%;
    top: 20%;
    z-index: 101;
    border: .146vh solid black;
    border-radius: .7vh;
    background-color: white;

    // position: fixed;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // left: 0;
    // background: rgba(0, 0, 0, 0.7);
    // z-index: 10;
}


// TO EXPAND HTML AND BODY TO COVER THE WHOLE PAGE
body, #root {
    height: 100vh;
}

.feed-div {
    height: 100%;
    background-color:  #f2f2f2;
}

.greyed-out {
    position: fixed; 
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

