

.header-logo{
    content: url(https://i.imgur.com/mtLupon.png);
    position: absolute;
    left: 7.3vh;
    margin-top: 1.4vh;
}

.welcome-message{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 58.5vh;
    max-width: 27.8vw;
    margin-left: 3.5vw;
    color: #2867B2;
    font-size: 5.85vh;
    white-space: initial;
}

.splash_pic1{
    position: absolute;
    right: 14.6vh;
    top: 14.6vh;
    width: 41.7vw;
    display: flex;
}

.splash_pic2{
    margin-top: 102.3vh;
    width: 100%;
    max-width: 100vw;
}

.message_splash_pic2 {
    position: absolute;
    top: 128.6vh;
    left: 14.6vh;
    color: #2867B2;
    font-size: 8.8vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 69vw;
    z-index: 100;
    text-align: left;
}

.alternative-signup-button {
    position: absolute;
    top: 149.1vh;
    left: 14.6vh;
    font-size: 2.9vh;
    background-color: #2867B2;
    text-decoration: none;
    color: white;
    border-radius: 3.8vh;
    padding: 2.05vh 1.8vw;
}

.alternative-signup-button:visited { 
    text-decoration: none; 
}