#three-dot-dropdown {
    content: image_url('three-dots.png');
    // border:  1px solid black;
    width: 3vh;
    height:  3vh;
    // color: white;
    font-size: 14pt;
    text-align:  center;
    margin-left: 95%;
    display: inline-block;
    cursor: pointer;
}

// #three-dot-dropdown:hover, #post-dropdown-content {
//     display: block;
// }

#post-dropdown-content {
    // display: none;
    display: block;
    position: absolute;
    color: #666666;
    background-color: black;
    // min-width: 15.9vh;
    // min-height: 7vh;
    width: 10vh;
    height: 10vh;
    z-index: 100;
    border-radius: .5em;
}

#delete-button {
    // // border:  1px solid black;
    // width: 2vh;
    // height:  2vh;
    // background-color: lightgray;
    // color: white;
    // // border-radius: 5px;
    // font-size: 14pt;
    // text-align:  center;
    // margin-left: 95%;
    // display: inline-block;
    // cursor: pointer;
    size: 14pt;
    height: 50vh;
    width: 23vh;
    background-color: white;
    float: right;
    box-shadow: 0 0 0 0.15vh rgba(0, 0, 0, 0.15);
}

.comment-list {
    display: block;
}

.comment-pic {
    content: image_url('mini-profile-pic.png');
    margin-left: 3%;
    display: inline-block;
    height: 5vh;
    width: 5vh;
    border-radius: 5vh;
}

.comment-body {
    background-color: #f2f2f2;
    height: 5vh;
    width: 85%;
    border-radius: 2vh;
    display: inline-block;
    padding-left: 2vh;
}

#create-comment-input {
    border: 1px solid rgba(0,0,0,.45);
    // font-size: 1.4rem;
    // line-height: 1.42857;
    // font-weight: 400;
    color: rgba(0,0,0,.75);
    // flex: 1 1 auto;
    // width: 100%;
    // min-width: 0;
    
    font-size: 2vh;
    padding: 1vh 1.5vh 1vh 1.5vh; 
    border-radius: 4vh;
    // height: 4.5vh;
    width: 70%;
}