#three-dot-dropdown {
    content: image_url('three-dots.png');
    // border:  1px solid black;
    width: 1.4vw;
    height:  3vh;
    // color: white;
    font-size: 14pt;
    text-align:  center;
    display: flex;
    cursor: pointer;
    border: none;
}

// #three-dot-dropdown:hover, #post-dropdown-content {
//     display: block;
// }

#post-dropdown-content {
    // display: none;
    display: block;
    position: absolute;
    color: #666666;
    background-color: black;
    // min-width: 15.9vh;
    // min-height: 7vh;
    width: 4.75vw;
    height: 10vh;
    z-index: 100;
    border-radius: .5em;
}

// .far fa-edit, .far fa-trash-alt {
//     color: red;
// }

#delete-button, #edit-button {
    padding: 1vh .5vw 1vh .5vw;
    size: 12pt;
    // color: black;
}

#post-dropdown-content {
    height: 15vh;
    width: 13.3vw;
    background-color: white;
    // float: right;
    box-shadow: 0 0 0 0.15vh rgba(0, 0, 0, 0.15);
    border-right-width: .55vw;
    border-bottom: 8px solid #fff;
    border-left-width: .55vw;
}

.comment-list {
    display: flex;
    align-items: center;
}

.comment-pic {
    content: image_url('mini-profile-pic.png');
    margin-left: 3%;
    display: inline-block;
    height: 5vh;
    width: 2.4vw;
    border-radius: 5vh;
}

.comment-body-box {
    background-color: #f2f2f2;
    min-height: 5vh;
    width: 85%;
    border-radius: 2vh;
    // display: flex;
    align-items: center;
    padding: 1vh .95vw;
    margin: 1vh .475vw 1vh .475vw;
}

#comment-user {
    font-size: 10pt;
    margin-bottom: .5vh;
}

#comment-user-headline {
    font-size: 10pt;
    color: grey;
    margin-bottom: 1vh;
}

.create-message {
    border: 1px solid rgba(0,0,0,.45);
    color: rgba(0,0,0,.75);
    font-size: 2vh;
    padding: 1vh .7vw 1vh .7vw; 
    border-radius: 4vh;
    width: 70%;
    margin: 1vh .475vw 1vh .475vw;
}

.submit-comment {
    border-radius: 1vh;
    background-color: #0073b1;
    color: white;
    font-size: 2.3vh;
}