.profile-page {
    height: 500vh;
    background-color:  #f2f2f2;
}

.profile-header-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    padding-top: 10vh;
    padding-left: 12vh;
    padding-right: 12vh;
    margin: 14vh 0 3vh 20vh;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    width: 45%;
}

.profile-header-background {
    content: image_url('profileBlueBackground.png');
    display: flex;
    width:130%;
    height:100%;
    position: relative;
    left: -10.5vh;

}